<h1 class="mb-4 d-flex justify-content-center"><strong>My tasks</strong></h1>

<hr class="my-4">

<div class="container d-flex f-star">
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li class="mb-2 d-flex align-items-center">
      <i class="fa-regular fa-square<%='-check' if task.completed %> me-2"></i>
      <%= link_to task.title, task, class: "text-decoration-none" %>
    <%= link_to "<i class='fa-solid fa-trash'></i>".html_safe,
                  task_path(task),
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: '¿Estás seguro de eliminar esta tarea?'
                  },
                  class: "text-danger ms-3" %>
    </li>
  <% end %>
</ul>
</div>
<hr class="my-4">

<div class="add">
  <i class="fas fa-plus"></i>
  <%= link_to "Add a new task", new_task_path, class: "d-inline-block mt-4 text-primary text-decoration-none" %>
</div>
